<div id="default-panel" class="content-panel">
	<div id="left-panel" class="children-panel">
		<h3>Psychokinesis</h3>
		<h4>帮助您使用手机控制其他智能设备：</h4><br/><br/>
		<img src="images/introduction.png" />
	</div>
	<div id="right-panel">
		<div class="children-panel">
			<fieldset>
				<legend>即刻体验</legend>
				<h4>网页端：</h4>
				<div id="webapp-link">
					<a ng-click="enter_app();" class="image-button bg-lightRed fg-white image-left large">
						<i class="icon-cloud bg-red" style="padding:10px"></i>
						点此进入
					</a>
				</div>
				<br/><br/><br/>
				<h4>PC端：</h4>
				<div id="desktop-download-link">
					<a ng-click="download('windows');" class="image-button bg-darkGreen fg-white image-left large">
						<i class="icon-windows bg-green fg-white" style="padding:10px"></i>
						Windows版
					</a>
				</div><br/><br/><br/>
				<h4>移动端：</h4>
				<div id="mobile-download-link">
					<a ng-click="download('android');" class="image-button bg-lightBlue fg-white image-left large">
						<i class="icon-android bg-blue" style="padding:10px"></i>
						Android版
					</a>
					<a ng-click="download('ios');" class="image-button bg-cyan fg-white image-left large">
						<i class="icon-apple bg-lightTeal" style="padding:10px"></i>
						iOS版
					</a>
					<a ng-click="download('wp');" class="image-button bg-darkGreen fg-white image-left large">
						<i class="icon-windows bg-green fg-white" style="padding:10px"></i>
						Windows Phone版
					</a>
				</div>
				<img style="padding-left:20px" src="images/qr_code.png" />
			</fieldset>
		</div>
	</div>
</div>