body {
	min-width: 950px;
}

#wapper {
	position:relative;
	min-height:100%;
}

.input-item {
	padding-bottom:15px;
}

.children-panel {
	margin:25px 5px 10px 5px;
}

.children-panel input {
	-webkit-transition:all linear 0.5s;
	transition:all linear 0.5s;
	background: transparent;
}

.children-panel input.ng-invalid {
	color:white;
	background: red;
}

.psychokinesis-radio {
	margin-right:10px;
}

.content-panel {
	width:950px;
	margin:0 auto;
	margin-top:20px;
}

#message_box {
	text-align:center;
}

#message_box button {
	margin:0 auto;
}

#head-bar {
	top:0px;
	position:fixed;
	display:block;
	height: 45px;
	width: 100%;
	z-index:9;
}

#navigation-bar-right {
	float:right;
}

#main-panel {
	padding-top:45px;
	padding-bottom:40px;
}

#default-panel {
	height:550px;
}

.graduated, .ms-fullscreen {
	position:absolute;
	top:33%;
	width:200%;
	vertical-align:middle;
	text-align:center;
	z-index:1;
}

.graduated {
	background-image:url(../images/graduated.png);
	background-size:100% 100%;
	top:0;
	bottom:70px;
}

.ms-left-item {
	margin-left:20%;
	top:33%;
}

.ms-right-item {
	height:100%;
	margin-right:20%;
	background-repeat:no-repeat;
	background-position:center;
	background-size:contain;
}

#share-resource-section {
	background-image:url(../images/share_rs.png);
}

#remote-management-section {
	background-image:url(../images/remote_management.png);
}

#multi-device-support-section {
	background-image:url(../images/multi_device.png);
}

#download-section {
	margin-left:10%;
	width:400px;
}

#desktop-download-link {
	float: left;
}

#desktop-download-link a {
	display: block;
	width: 220px;
}

#mobile-download-link {
	float: left;
}

#mobile-download-link a {
	display: block;
	width: 220px;
	margin-bottom: 5px;
}

#webapp-link {
	float: left;
}

#webapp-link a {
	display: block;
	width: 220px;
	margin-bottom: 5px;
}

#register-panel span {
	font-size: small;
	color: red;
}

#register_button {
	float:right;
}

#suggest-panel span {
	font-size: small;
	color: red;
}

#suggest_button {
	margin-top:10px;
	float:right;
}

#do_what {
	background:#f2f2f2;
	border-top:1px solid #e4e4e4;
	border-bottom:1px solid #e4e4e4;
	text-align:center;
	padding:30px 0 30px 0;
}

#do_what h1 {
	font-size:25pt;
	font-weight:bold;
}

#do_what h2 {
	font-size:15pt;
}

#get_what {
	width:1000px;
	margin:0 auto;
	margin-top:40px;
}

#join_us {
	text-align:center;
	margin:40px 0 40px 0;
}

#join_us h1 {
	font-size:25pt;
}

#join_submit_button {
	margin-top:10px;
	float:right;
}

#success-panel {
	text-align:center;
	height: 50%; 
	overflow: auto;  
	margin: auto;  
	position: absolute;  
	top: 0; left: 0; bottom: 0; right: 0;
}

#success-panel span {
	font-size:20pt;
}

#foot-bar {
	bottom:0px;
	font-size:10pt;
	left:0;
	height:70px;
	position:absolute;
	width:100%;
	background:#f2f2f2;
	line-height:70px;
}

#foot-bar a{
	padding:0 0 0 27px !important;
}

#foot-bar-left {
	float:left;
	margin-left:30px;
}

#foot-bar-right {
	float:right;
	margin-right:50px;
}

#foot-bar-right img {
	margin-right:5px;
	height: 35px;
}

#foot-bar-right span {
	vertical-align: middle;
	font:14pt "microsoft yahei";
}

#foot-bar-right a:hover {
	opacity: 0.8;
}
